.financial-statements{overflow: hidden; clear: both; width: 100%; position: relative; background: var(--optionaltxt); margin: 54px 0 0 0;}

.fs-lt{width: calc(100% - 372px); padding:40px; flex-grow: 1; }
.fs-lt .optional-text {color: var(--white); margin: 0 0 24px 0;}
.fs-lt {display: flex; flex-direction: column; align-items: flex-start; justify-content: center; height: 100%;}
.fs-lt .h4{line-height: 125%; letter-spacing: -0.64px; margin-bottom: 20px;}
.fs-lt p {font-size: 16px; line-height: 150%;}
.fs-btns .button {margin: 0 28px 0 0;}
.fs-btns .readmore{color: var(--white);}
.fs-btns .readmore:after {color: var(--white);}

.fs-rt{width:208px; margin-left: 6.222222222222222%; margin-top: auto; margin-right: 54px;}
.fs-bg {width: 584px; height: 212px; right: 0; bottom: 0; display: block;}
.fs-img {width:208px; position: relative; z-index: 1; bottom: -1px;}




/*-- media css starts here --*/
@media only screen and (max-width:1280px) and (min-width: 1024px){
}

@media only screen and (max-width:1023px) and (min-width:200px){
    .fs-lt{width: 100%; display: block; margin: 0;}
    .fs-rt {width: 100%; margin: 0;}
    .fs-img {margin: 0 auto;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .fs-lt {padding:24px 20px 35px;} 
    .fs-lt .optional-text {margin: 0 0 23px 0;}
    .fs-lt .h4 {margin-bottom: 21px;}
    .fs-lt p {margin-bottom: 24px;}
    .fs-btns {justify-content: center;}
    .fs-btns .button {width: 100%; margin:0 0 22px 0;}
}