.repeaters-module{clear: both; width: 100%; position: relative; padding: 80px 0;}
.repeater-bg {width: 100%; height:calc(100% - 320px); background: var(--elevated); display: block; left: 0; bottom: 0; top: 0; margin: auto;}
.repeaters-loop {margin-top: 112px; clear: both; width: 100%;}
.repeaters-loop:first-child {margin: 0;}
.repeaters-grid {justify-content: space-between; min-height: 600px; position: relative; z-index: 2;}
.repeaters-grid .repeaters-lt {width: 46.875%; margin-right: 6.25%;}
.repeaters-grid .h3 {margin-bottom: 24px;}
.repeaters-grid .repeaters-rt {width: 46.875%; flex-grow: 1; padding: 10px 0 10px 0; display: flex; position: relative; align-items: center;}
.repeaters-grid .repeaters-rt p{color: var(--linkhover);}
.repeaters-grid .repeaters-rt:after {content: ""; height: 2px; width: 100%; background: rgba(0, 156, 166, 0.25); position: absolute; right: 0; bottom: 0; display: block;}
.repeaters-grid .repeaters-thumb {width: 100%; clear: both; height: 100%;}
.repeaters-grid .repeaters-thumb:before {background-color: rgba(157, 151, 154, 0.2); content: ""; position: absolute; left: 0; top:0; display: block; width: 100%; height: 100%;}
.repeaters-grid.no-image{min-height: 380px; margin-top: -80px;}

.repeaters-loop:nth-child(even) .repeaters-grid {flex-direction: row-reverse;}
.repeaters-loop:nth-child(even) .repeaters-grid .repeaters-lt {width: 46.875%; margin-left: 6.25%; margin-right: 0;}
.repeaters-loop:nth-child(even) .repeaters-grid .repeaters-rt {margin-bottom: auto; padding: 122px 0 20px 0; margin-top:inherit;}
.repeaters-loop:nth-child(even) .repeaters-grid .repeaters-rt:after {top: 0; bottom: inherit;}
.repeaters-full-txt {width: 100%; clear: both; margin-top: 113px; margin-bottom: -2px; z-index: 1; position: relative;}
.repeaters-full-txt:before {content: ""; background:var(--optionaltxt) ; position: absolute; top: 0; bottom: 0; margin: auto; display: block; width: 1151px; height: 1151px; opacity: 0.05; border-radius: 50%; left: 0; right: 0; z-index: -1;}
.repeaters-full-txt h2 {margin: 0;}

/*-- media css starts here --*/

@media only screen and (max-width: 1280px) and (min-width:1161px){
    .repeaters-full-txt:before {width: 1043px; height: 1043px;}   
}

@media only screen and (max-width: 1160px) and (min-width:1024px){
    .repeaters-full-txt:before {width: 900px; height: 900px;}   

}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .repeaters-module {padding: 64px 0;}
    .repeaters-grid {min-height: inherit;}
    .repeaters-grid .repeaters-rt {padding: 20px 0 60px 0;}
    
    .repeaters-full-txt::before {width: 601px; height: 601px;}
    .repeaters-full-txt {margin-top: 56px;}
    .repeaters-full-txt h2 {font-size: 40px; line-height: 125%; letter-spacing: -0.8px;}
    
    .repeaters-loop {margin-top: 64px;}
    .repeaters-loop:nth-child(2n) .repeaters-grid .repeaters-rt {padding:60px 0 20px 0;}
    
    
    
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .repeaters-module {padding: 40px 0;}
    .repeaters-grid .repeaters-lt {width: 100%!important; margin:0 0 39px 0!important;}
    .repeaters-grid .repeaters-rt {width: 100%!important; margin: 0; padding: 0!important;}
    .repeaters-grid .repeaters-rt p {font-size: 16px; font-weight: 400; line-height: 150%; margin-bottom: 19px;}
    .repeaters-grid .repeaters-rt::after {display: none;}
    .repeaters-full-txt {padding: 0 14px; position: relative; margin-top: 103px;}
    .repeaters-full-txt::before {width: 311px; height: 311px;}
    .repeaters-loop {margin-top: 106px;}
    
    .repeater-bg {height: calc(100% - 160px); top: inherit; bottom: 0;}

}