.stats-module{ clear: both; width: 100%; z-index: 1; position: relative; padding: 80px 0 76px;}
.stats-module h2 {margin-bottom: 80px;}
.stats-module .bottom-frame {margin: 0 auto 16px auto; padding: 0;}
.stats-row {justify-content: center;}
.stats-list {width: 21.25%; margin: 4.84375% 0 0 5%; display: inline-block; vertical-align: top; padding: 0 0 0 32px; position: relative;}
.stats-list:nth-child(4n+1) {margin-left: 0;}
.stats-list p {color: var(--linkhover); line-height: 150%; letter-spacing: -0.4px; font-size: 20px; font-family: 'Oswald', sans-serif; margin-bottom: 19px;}
.big {display: block; margin-bottom: 24px; font-family: 'Oswald', sans-serif; font-size: 80px; font-style: normal; font-weight: 500; line-height: 100%;
letter-spacing: -1.6px;}
.stats-list .line {left: 0; top: 0; width: 1px; height:calc(100% - 4px); display: block;}

.stats-module.stats-filter .stats-list p {margin-bottom: 0;}
.stats-module.stats-filter .stats-list .line {height: 100%;}
.stats-module.stats-filter .stats-intro-main {justify-content: space-between; margin: 0 0 43px 0;}
.stats-module.stats-filter .stats-intro-lt {width: 46.875%; margin-right: 6.25%; flex-grow: 1;}
.stats-module.stats-filter .stats-intro-lt h2 {font-size: 40px; line-height: 125%; letter-spacing: -0.8px; margin-bottom: 19px;}

.stats-module.stats-filter .stats-intro-rt {font-size: 18px; line-height: 150%; width: calc(100% - 53.125%);flex-grow: 1; padding: 21px 0 0 0;}
.stats-module.stats-filter .bottom-frame {margin: 64px auto 4px auto}

/* media starts here */
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .stats-module.stats-filter .stats-intro-lt {width: 100%; margin: 0 0 13px 0;}
    .stats-module.stats-filter .stats-intro-rt {width: 100%; margin: 0;}
    
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .stats-module {padding: 64px 0 60px;}
    .stats-module .bottom-frame {margin: 63px auto 28px auto;}
    .stats-list, .stats-list:nth-child(4n+1) {width: 47.093023255813954%; margin:36px 0 0 36px;}
    .stats-list:nth-child(2n+1) {margin-left: 0;}
    
    .stats-module.stats-filter .stats-intro-main {margin: 0 0 62px 0;}
    .stats-module.stats-filter .stats-list, .stats-module.stats-filter .stats-list:nth-child(4n+1) {margin-top:48px;}
    .stats-module.stats-filter .stats-row {margin: 14px 0 0 0;}

}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .stats-module {padding: 39px 0 36px;}
    .stats-module h2 {letter-spacing: -1px; margin-bottom: 30px;}
    .stats-list {width: 100%; margin:28px 0 0 0; padding: 0 0 0 12px; display: flex; flex-wrap: wrap; align-items: center;}
    
    .stats-module .bottom-frame {margin: 40px auto 12px auto;}
    .big {font-size: 56px; line-height: 100%; letter-spacing: -1.12px; font-weight: 500; margin-right: 8px; width:119px; margin-bottom: 0;}
    .stats-cnt {width: calc(100% - 135px); flex-grow: 1;}
    .stats-list p {font-size: 18px; line-height: 140%; letter-spacing: -0.36px; margin-bottom: 2px;}
    
    .stats-module.stats-filter .stats-intro-main {margin: 0 0 38px 0;}
    .stats-module.stats-filter .stats-intro-lt h2 {font-size: 32px; line-height: 125%;letter-spacing: -0.64px;}
    .stats-module.stats-filter .stats-list {margin:32px 0 0 0;}
    .stats-module.stats-filter .bottom-frame {margin: 40px auto 4px auto;}
    
}
