.stories-slider {clear: both; width: 100%; padding: 64px 0 24px; position: relative;}
.stories-slider .bg {background: var(--elevated); height: calc(100% - 426px);}
.stories-slider .container {max-width: 1304px;}
.stories-slider h2 {max-width: 1280px; margin-left: auto; margin-right: auto; margin-bottom: 64px;}
.stories-slide{height: 720px!important; width: 100%; position: relative; margin: 0 12px;}
.stories-slide:before {position: absolute; left:0; top: 0; width: 100%; height: 100%; display: block; background-color: rgba(157, 151, 154, 0.2); content: "";}

.stories-slide .play-btn {display: flex; flex-wrap: wrap; width: 100%; max-width: 333px; border: 0 none; height: auto; justify-content: flex-start; padding: 8px 21px 8px 8px; border-radius: 60px; background: rgba(255, 255, 255, 0.75); backdrop-filter: blur(6px); box-sizing: border-box; outline: none !important;}
.stories-slide .play-btn-wrap {width: 64px; height: 64px; outline: 8px solid rgba(0, 131, 139, 0.20); border-radius: 50%; margin-right:19px; background: var(--teal); display: flex; justify-content: center; align-items: center; transition: 0.3s all ease-in-out; left: 0; bottom: 0;}
.stories-slide .play-btn i {line-height: 32px; font-size: 32px; position: relative; left: 4px; bottom: 1px;}
.stories-slide .play-btn-txt {font-size: 20px; font-family: 'Oswald', sans-serif; font-weight: 500; line-height: 125%; text-transform: uppercase; width: calc(100% - 96px); color: var(--teal); transition: 0.3s all ease-in-out;}

.stories-slide .play-btn:hover .play-btn-wrap {background: var(--linkhover);}
.stories-slide .play-btn:hover .play-btn-txt {color: var(--linkhover);}

.slider-for .slick-list {overflow: visible;}
.slider-for .slick-arrow {width: 64px; height: 64px; outline: 12px solid rgba(0, 131, 139, 0.20);}
.slider-for .slick-arrow.prev-arrow {left:40px;}
.slider-for .slick-arrow.next-arrow {right:40px;}

/* Stories Thumb Nav */
.slider-nav {max-width: 1280px; margin: 0 auto;}
.slider-nav .slick-track {display: flex; align-items: flex-end;}
.stories-thumb {width:290px; margin: 0 40px 0 0; transition: all 0.95s ease-in-out; opacity: 1!important;}
.stories-thumb-nav {position: relative; width: 100%; clear: both; padding-left: 44px; cursor: pointer;}
.stories-thumb-nav:before {content: ""; width: 16px; height: 16px; display: block; position: absolute; left: 8px; background: var(--teal); outline: 8px solid rgba(0, 131, 139, 0.20); border-radius: 50%; top: 8px;}
.stories-thumb-nav:after {content: ""; position: absolute; background: var(--teal); width: 1px; height: 1000%; display: block; top: 8px; left: 16px;}
.stories-thumb-nav .h6 {font-size: 20px; font-family: 'Oswald', sans-serif; font-weight: 500; line-height: 125%; text-transform: uppercase;  color: var(--teal); margin: 0 0 32px 0; padding-top: 2px;}

.stories-thumb-nav p {font-size: 14px; line-height: 150%; font-weight: 400; padding: 0 0 33px 0; display: none;}
.stories-thumb.slick-current .stories-thumb-nav p {display:block;}
.stories-thumb.slick-current .h6 {margin: 0 0 7px 0;}


.mauve.stories-slider .bg {background: var(--mauve-tint);}
.mauve .stories-thumb-nav .h6, .mauve h2 span, .mauve .stories-slide .play-btn-txt {color: var(--mauve);}
.mauve .slick-arrow, .mauve .stories-slide .play-btn-wrap, .mauve .stories-thumb-nav:after,  .mauve .stories-thumb-nav:before {background: var(--mauve);}
.mauve .stories-thumb-nav:before, .mauve .stories-slider-wrap .slick-arrow, .mauve .stories-slider-wrap .play-btn-wrap  {outline-color: rgba(197, 59, 110, 0.20);}
.mauve .stories-slider-wrap ul.slick-dots li button {background-color:rgba(197, 59, 110, 0.20);}
.mauve .stories-slider-wrap ul.slick-dots li.slick-active {border-color: rgba(197, 59, 110, 0.20);}
.mauve .stories-slider-wrap ul.slick-dots li.slick-active button {background: var(--mauve);}

.teal .stories-thumb-nav .h6, .teal h2 span, .teal .stories-thumb-nav p {color: var(--white);}
.teal .stories-thumb-nav:after,  .teal .stories-thumb-nav:before {background: var(--white);}
.teal .stories-thumb-nav:before {outline-color: rgba(255, 255, 255, 0.20);}

/*-- media css starts here --*/
@media only screen and (max-width:1280px) and (min-width: 1024px){
    .stories-thumb {width: 250px;}
    .stories-slide {height: 630px!important;}
}


@media only screen and (max-width: 1023px) and (min-width: 768px){
    .stories-slider .bg {height: 69%;}
    .stories-slider {padding: 64px 0 24px;}
    .stories-slider .container {padding: 0 32px;}
    .stories-slider h2 {margin-bottom: 37px;}
    .slider-for .slick-arrow.prev-arrow {left:-8px;}
    .slider-for .slick-arrow.next-arrow {right:-8px;}
    
    .stories-slide {height: 387px!important; margin: 0 8px;}
    .stories-thumb {font-size: 0; width: 30px; min-height: 59px;}
    .stories-thumb-nav {min-height: 59px;}
    .stories-thumb-nav .h6 {font-size: 0;}
    .stories-thumb.slick-current {width: 390px; margin-right: auto;}
    .stories-thumb:last-child {margin-right: 16px;}
    .stories-thumb.slick-current .h6 {font-size: 16px;}
    
    .stories-slide .play-btn-wrap {width: 56px; height: 56px;}
    .stories-slide .play-btn {max-width: 335px;}
    
    .slider-nav {padding: 0 8px;}
    .slider-nav .slick-track {width: 100% !important;}
    
    
    

}
@media only screen and (max-width: 767px) and (min-width: 200px){  
    .stories-slider {padding: 39px 0 22px;}
    .stories-slider h2 {margin-bottom: 33px;}
    .stories-slider .bg {height: 52.6%;}
    .stories-slider-wrap {display: flex; flex-direction: column-reverse;}
    .stories-slide .play-btn {background: none; width: auto; backdrop-filter: none; padding: 8px 8px 8px 8px;}
    .stories-slide .play-btn-txt {display: none;}
    .stories-slide .play-btn-wrap {width: 56px; height: 56px;}
    .stories-slide {height:47.36vw !important; margin: 0 8px; overflow: hidden;} 
    
    .stories-thumb-nav::before, .stories-thumb-nav::after {display: none;}
    .stories-thumb {margin: 0;}   
    .stories-thumb-nav .h6, .stories-thumb.slick-current .h6 {padding: 0; font-size: 16px; line-height: 125%; margin: 0 0 7px 0;}
    .stories-thumb-nav {padding: 0;}
    .stories-thumb .stories-thumb-nav p {display:block!important; padding: 0;}
    
    .slider-nav {margin: 0 8px;}
    .slider-nav .slick-list {padding: 0 0 88px 0;}
    .slider-nav .slick-track {align-items: flex-start;}
    .slider-nav ul.slick-dots {bottom: -8px;}
    
    .slider-for {margin: 0 0 32px 0;}
}