@import url("../css/_micro-cta.css");
@import url("../css/_browse-section.css?v=78");
@import url("../css/_signup-module.css");
@import url("../css/_meet-our-donors.css");
@import url("../css/_repeaters-single.css");


.community-banner-section{width: 100%; clear: both; position: relative; background-color: var(--lightwhite); z-index: 1;}
.community-banner-main{padding: 80px 0 160px;}
.community-banner-lt{z-index: 1;}

.community-banner-lt .h4{margin-bottom: 40px; color: var(--link)}
.community-text-block{background-color: var(--white); width: 513px; padding: 40px; z-index: 1;}
.community-text-block .category{margin: 0 0 53px 0;}
.community-text-block h1{font-size: 40px; line-height: 1.25; font-weight: 500; color: var(--linkhover); letter-spacing: -0.8px; margin-bottom: 22px;}
.community-text-block p{color: var(--linkhover); margin-bottom: 56px;}
.community-banner-img{z-index: -1; top: 0; position: absolute;}
.community-banner-img figure a{position: relative; display: block; z-index: 1;}
.community-banner-img:after{ background-color: rgba(157, 151, 154, 0.2); content: ""; width: 100%; height: 100%; top: 0; left: 0; position: absolute; display: block;}

.community-banner-list{background-color: var(--white); width: 278px;}
.community-banner-rt-img{position: relative;}
.community-banner-rt-img::after{background-color: rgba(157, 151, 154, 0.2); content: ""; width: 100%; height: 100%; top: 0; left: 0; position: absolute; display: block;}
.community-banner-rt-text{padding: 34px 32px 34px;}
.community-banner-rt-text p{font-size: 20px; font-family: Oswald; color: var(--linkhover); line-height: 1.5;}
.community-banner-rt-text p a{color: var(--linkhover);}
.community-banner-rt-text p a:hover{color: var(--link);}

.micro-cta { max-width: 1280px; margin: -95px auto 65px; z-index: 1;}
.micro-cta-lt .h4 {font-size: 40px; margin-bottom: 24px;}
.micro-cta-rt{margin-left: 4.22%;}
.micro-cta-img {top: -27px;}


.meet-donors-main::after {display: none;}
.repeater-single-bg { bottom: 0; top: inherit; height: calc(100% - 547px)}
.repeaters-single-grid .repeaters-single-rt { padding: 98px 0 20px 0;}
.repeaters-single-grid .repeaters-single-rt .h3{font-size: 48px;}
.repeaters-single-grid .repeaters-single-rt::after {content: ""; height: 2px; width: 100%; background: rgba(0, 156, 166, 0.25); position: absolute; right: 0; top: 0; bottom: inherit; display: block; }

.browse-search-field input { padding: 17px 20px 17px 50px;}
.browse-tab-section .no_result_found {margin-bottom: 0; margin-top: 60px;}

.overlay_main_sec.micro-cta-popup .micro-cta { max-width: 900px;}
.overlay_main_sec.micro-cta-popup .micro-cta .bg {border-radius: 20px;}
.overlay_main_sec.micro-cta-popup .micro-cta-img {top: -27px;}
.overlay_main_sec.micro-cta-popup .micro-cta-lt {padding: 36px 40px 38px;}
.overlay_main_sec.micro-cta-popup .micro-cta-lt p {color: var(--white); margin-bottom: 20px;}
.overlay_main_sec.micro-cta-popup .overlay-main .pop_connect_close { right: 40px;}
.overlay_main_sec.micro-cta-popup .micro-cta-lt .h4 { line-height: 120%; margin-bottom: 20px;}
.overlay_main_sec.micro-cta-popup .micro-cta-lt .button {padding: 13px 16px 15px 16px;}
.overlay_main_sec.micro-cta-popup .overlay-wrap{background: transparent; text-align: left;}
/*-- media css starts here --*/
@media only screen and (min-width:1281px){
  .community-text-block{width: 513px; padding: 40px;}
  .community-banner-img{right: 0;  width: 514px; height: 513px;}
  .community-banner-lt{width: 73.9%; }
  .community-banner-rt{ width: calc(100% - 78.3%);}
  .community-banner-lt .h4{max-width: 400px;}
  
}

@media only screen and (max-width: 1280px) and (min-width:1200px){
  .community-text-block{width: 449px; padding: 40px;}
  .community-banner-img{right: 0; width: 449px; height: 449px; }
  .community-text-block h1 { font-size: 32px;}
  .community-banner-lt{width: 71.5%; }
  .community-banner-rt{ width: calc(100% - 75.9%);}
  .community-banner-lt .h4{max-width: 350px;}
}

@media only screen and (max-width: 1199px) and (min-width:1024px){
  .community-text-block{width: 380px; padding: 30px;}
  .community-banner-img{right: 0; width: 380px; height: 380px; }
  .community-text-block .category { margin: 0 0 30px 0; }
  .community-text-block h1 { font-size: 28px;}
  .community-text-block p{margin-bottom: 28px;}
  .community-banner-lt{width: 66%; }
  .community-banner-rt{ width: calc(100% - 70.6%); }
  .community-banner-lt .h4{max-width: 230px;}
  .overlay_main_sec.micro-cta-popup .overlay-main .pop_connect_close { top: -60px; right: 40px; }
}
@media only screen and (min-width: 1024px){
  .browse-tab-section{padding: 36px 0 40px;}
  .community-banner-rt{margin: 0 0 0 4.4%;}
  .community-text-block{z-index: 1;}
  
  .meet-donors-main {padding: 80px 0 82px 0;}
  .repeaters-single {padding: 40px 0 55px 0;}

  .overlay_main_sec.micro-cta-popup  .micro-cta-rt { width: 400px;}
  .overlay_main_sec.micro-cta-popup .micro-cta-img { width: 420px; height: 420px;}
  .overlay_main_sec.micro-cta-popup .micro-cta-lt { width: calc(100% - 450px);}
  .overlay_main_sec.micro-cta-popup .micro-cta-lt .optional-text {margin: 0 0 20px 0;}
  .overlay_main_sec.micro-cta-popup .overlay-main .pop_connect_close { top: -10px; right: 40px; }
  .overlay_main_sec.micro-cta-popup .overlay-main .pop_connect_close { top: -60px;}
}

  @media only screen and (max-width: 1023px) and (min-width:768px){
    .community-banner-main{display: block;}
    .community-text-block{width: 55%; padding: 32px;}
    .community-banner-img{width: 55%; height: 384px; right: 0; }
    .community-text-block .category { margin: 0 0 30px 0; }
    
    .community-banner-lt{margin-bottom: 50px;}
    .community-banner-list{display: flex; width: inherit;}
    .community-banner-rt-img{width: 50%; height: 230px;}
    .community-banner-rt-text{width: 50%;}
    
    .micro-cta { margin: -40px auto 65px;}
    .meet-donors-main { padding: 20px 0; }

  }

  @media only screen and (max-width: 1023px) and (min-width:200px){
    .community-text-block h1 { font-size: 24px; line-height: 1.5;}
    .community-text-block p{ font-size: 16px; margin-bottom: 20px;}
    .micro-cta-rt{margin-left: 0;}
    .repeaters-single-grid .repeaters-single-rt .h3 { font-size: 32px; }
    
  }
  @media only screen and (max-width: 767px) and (min-width:200px){
    .community-banner-main{display: block; padding: 40px 0 190px;}
    .community-banner-lt{display: flex; flex-direction: column-reverse; flex-wrap: wrap; margin-bottom: 32px;}
    .community-banner-lt .h4 {order: 1; margin-bottom: 28px; font-size: 32px;}
    .community-text-block{width: 100%; padding: 24px;}
    .community-text-block .category{margin-bottom: 26px;}
    .community-banner-list{width: 100%;}
    .community-banner-img{position: relative;}
    .community-banner-rt-text { padding: 24px; }

    .micro-cta{width: calc(100% - 48px); margin: -80px auto 40px;}
    .micro-cta-lt{padding: 22px 0 32px;}
    .micro-cta-lt .h4 {font-size: 24px; line-height: 1.5; letter-spacing: -0.9px;}
    .micro-cta-img {top: -15px;}
    .btn-center{margin-top: 4px;}

    ul.browse-all { margin-top: -10px; margin-bottom: 40px;}

    .meet-donors-main { padding: 30px 0 25px; }
    .repeaters-single-grid .repeaters-single-rt::after {display: none!important;}
    .repeaters-single-grid .repeaters-singlert-inner .optional-text{margin: 0 18px 0 0;}
    .repeater-single-bg {bottom: inherit!important;}
    .repeaters-single { padding: 40px 0 65px; }

    .overlay_main_sec.micro-cta-popup .overlay-wrap {padding: 0;}
    .overlay_main_sec.micro-cta-popup .micro-cta{width: 100%;}
    .overlay_main_sec.micro-cta-popup .micro-cta .bg { height: 512px; bottom: 0; top: auto; }
    .overlay_main_sec.micro-cta-popup .overlay-main .pop_connect_close { right: 40px; top: -145px; z-index: 2; background-color: var(--teal); color: var(--white); }
  }