@import url("../css/_hero-banner.css");
@import url("../css/_gratitude-wall.css");
@import url("../css/_signup-module.css");
@import url("../css/_cta-module.css");
@import url("../css/_fluid-cta.css");
@import url("../css/_accordion-module.css");
@import url("../css/_repeaters-module.css");
@import url("../css/_micro-cta.css");
@import url("../css/_short-intro-section.css");
@import url("../css/_stats-module.css");
@import url("../css/_meet-our-donors.css");
@import url("../css/_stories-slider.css");


.cta-module.donate-cta .cta-overlay {background: var(--elevated); bottom: 0; top: inherit; height:calc(100% - 51.7%);}

.general-default-container {clear: both; width: 100%; position: relative; padding:80px 0 119px 0;}
.general-default-container h1, .general-default-container h2, .general-default-container h3, .general-default-container h4, .general-default-container h5, .general-default-container h6 {color: var(--teal);}
.general-default-container .container .container {padding: 0;}
.general-default-container h4 {padding-top: 31px;}


/* SIngle Note */
.single-note {clear: both; width: 100%; padding: 31px 40px 36px 40px; color: var(--white); margin:55px 0 23px; position: relative;}
.single-note .bg {background: var(--mauve);}
.single-note p {font-size: 32px; font-weight: 500; line-height: 150%; margin-bottom:28px; letter-spacing: -0.64px;}
.single-note p span {color: var(--linkhover);}
.single-note .readmore:after {color: var(--white);}


/* SIngle Quote */
.single-quote {clear: both; width: 100%; padding: 28px 40px 40px 40px; color: var(--linkhover); margin:66px 0 19px 0; position: relative;}
.single-quote .bg {background: var(--yellow);}

.single-quote p {font-family: "Playfair Display", sans-serif; font-size: 28px; font-weight: 400; line-height: 150%; margin-bottom: 32px;}
.quote-by span {display: block;}
.quote-name {font-size: 14px; font-family: Oswald, sans-serif; font-weight: 500; line-height: 125%; letter-spacing: 0.7px; text-transform: uppercase; margin-bottom: 2px;}
.quote-pos {opacity: 0.75; font-size: 12px; line-height: 150%;}
.quote-by {width: 100%; clear: both; position: relative; padding:4px 0 4px 16px;}
.quote-by .quote-line {position: absolute; left: 0; top: 0; width: 1px; height: 100%; display: block; background: var(--linkhover);}


/* Default SLider */
.default-slider {position: relative; clear: both; width: 100%; margin:64px 0 24px 0;}
.default-slider .default-slide {position: relative; height: 506px;}
.default-slider .default-slide:after {background-color: rgba(157, 151, 154, 0.2); content: ""; position: absolute; left: 0; top:0; display: block; width: 100%; height: 100%;}
.default-slider .counter-info {font-size: 18px; font-style: normal; font-weight: 600; line-height: 150%; color: var(--foreground); width: 64px; height: 64px; background: var(--white); border-radius: 32px; display: flex; justify-content: center; align-items: center; position: absolute; bottom: 24px; z-index: 1; left: 24px;}
.default-slider .slick-arrow {top: inherit; bottom: 24px; outline:none; width: 64px; height: 64px; right: 24px;}
.default-slider .slick-arrow.prev-arrow {left: inherit; right: 104px;}


.subhead-module {position: relative; width: 100%; clear: both; padding: 80px 0;}
.subhead-module .bg {background: var(--elevated); height: 57.9%; top: inherit; bottom: 0;}
.subhead-module h2 {margin: 0;}
.subhead-module .bottom-frame {margin: 43px auto 0 auto;}
.subhead-module .frame-mid {width: 28.2%;}
.subhead-wrap {justify-content: center;}
.subhead-grid {width: 46.875%; margin: 48px 0 0 6.25%;}
.subhead-grid:nth-child(2n+1) {margin-left: 0;}
.subhead-grid .readmore {color: var(--teal);}
.subhead-grid .subhead-thumb {clear: both; width: 100%; margin: 0 0 31px 0;}
.subhead-grid .subhead-thumb a:after {background-color: rgba(157, 151, 154, 0.2); content: ""; position: absolute; left: 0; top:0; display: block; width: 100%; height: 100%;}
.subhead-grid .subhead-thumb a {display: block; position: relative;}
.subhead-grid .optional-text {margin:0 0 19px 0;}
.subhead-grid p {margin-bottom: 18px; color: var(--linkhover);}


.meet-our-donors {padding: 0;}
.meet-donors-main::after {display: none;}

/* Default Thumb */
.default-thumb {margin:64px 0 28px 0; position: relative;}
.default-thumb figure figcaption {font-size: 14px; font-style: normal; font-weight: 400; line-height: 150%; width:100%; padding:24px; color: var(--linkhover); background:var(--elevated);}
.default-thumb figure span {position: relative; width: 100%; height: 100%; display: block;}
.default-thumb figure span:after {background-color: rgba(157, 151, 154, 0.2); content: ""; position: absolute; left: 0; top:0; display: block; width: 100%; height: 100%;}

/*-- media css starts here --*/
@media only screen and (min-width:1024px){
	.gratitude-wall {padding: 80px 0 40px 0;}
    .cta-module.donate-cta {padding-bottom: 80px;}
    .stories-slider {padding-top: 80px;}

}
@media only screen and (max-width: 1023px) and (min-width:200px){
    .default-slider .default-slide {height: 49.5vw;} 
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .general-default-container {padding: 64px 0;}
   
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .general-default-container {padding: 40px 0 80px;}
    .general-default-container h4 {padding-top: 33px;}
    
    .single-note {padding:24px 24px 20px 24px;}
    .single-note p {font-size: 24px; letter-spacing: -0.48px; line-height: 140%; padding-right: 10px;}
    
    .single-quote {padding: 24px 24px 32px 24px; margin: 64px 0 19px 0;}
    .single-quote p {font-size: 20px; line-height: 140%; margin-bottom: 24px;}
    .quote-by {padding: 4px 0 5px 11px;}
    
    .default-slider {margin: 64px 0 7px 0;}
    .default-slider .def-slider {padding: 0 0 65px 0;}
    .default-slider .slick-list {margin: 0 0 22px 0;}
    .default-slider .counter-info {display: none;}
    .default-slider .slick-arrow {right: 0; bottom: 0; top: inherit; width: 56px; height: 56px; outline: 8px solid rgba(0, 131, 139, 0.20);}
    .default-slider .slick-arrow.prev-arrow {right: auto; left: 0;}
    
    .meet-donors-main {padding: 40px 0 38px;}
    
    .subhead-module {padding: 38px 0 40px 0;}
    .subhead-module h2 {margin: 0 0 4px 0;}
    .subhead-module .bottom-frame {margin: 35px auto 0 auto;}
    .subhead-grid .optional-text {margin: 0 0 11px 0;}
    .subhead-grid {width:100%; margin: 36px 0 0 0;}
    .subhead-grid .h3 {margin-bottom: 13px;}
    
    .subhead-module .bg {background: var(--white);}
    
    .cta-module.volunteer-cta {padding: 40px 0;}
    .cta-module.volunteer-cta .cta-overlay {height: calc(100% - 79.1%);}
}