@import url("../css/_hero-banner.css");
@import url("../css/_signup-module.css");
@import url("../css/_short-intro-section.css");
@import url("../css/_cta-module.css");
@import url("../css/_team-bios.css");

/*.default-banner-section .banner-bg {filter: blur(10px);}*/


/* Group Team Images */
.group-team-imgs {clear: both; width: 100%; position: relative; background: var(--white); padding: 80px 0;}
.group-team-imgs h3 {margin-bottom: 0; letter-spacing: -0.8px;}

.gt-imgs-wrap {padding: 0 0 16px 0; clear: both; width: 100%;}
.gt-grid {display:flex; width:30.829375%; margin:3.75% 0 0 3.75%; flex-wrap: wrap; align-items: center;}
.gt-grid:nth-child(3n+1) {margin-left: 0;}
.gt-thumb {width:104px; height: 104px; display: block; margin:0 20px 0 0;}
.gt-thumb img {border-radius: 50%; border: 8px solid var(--elevated);}

.gt-cnt {width: calc(100% - 124px); flex-grow: 1;}
.gt-cnt .h6 {font-size: 22px; font-weight: 600; line-height: 150%; margin:0 0 -3px 0;}
.gt-cnt .mem-position {font-size: 16px; line-height: 150%; opacity: 0.6; color: var(--linkhover); display: block;}

.gt-cnt .mem-links {margin:0;}
.gt-cnt .mem-links li {margin-bottom: 3px; display: block; width: 100%;}
.gt-cnt .mem-links li:last-child {margin-bottom: 0;}
.gt-cnt .mem-links li:before {display: none;}
.gt-cnt .mem-links li i {font-size: 16px; line-height: 100%; color: var(--linkhover); letter-spacing:normal; font-weight: 400;  position: absolute; left: 0; top:7px; width: 20px; text-align: center;}
.gt-cnt .mem-links li a {font-size: 14px; font-weight: 600; color: var(--teal); padding-left: 24px; display: inline-block; line-height: 100%; letter-spacing: -0.28px;}
.gt-cnt .mem-links li a:hover {color: var(--linkhover);}



/* Group Team */
.group-team-name {clear: both; width: 100%; position: relative; background: var(--elevated); padding: 80px 0;}
.group-team-name h3 {margin-bottom: 48px; letter-spacing: -0.8px;}
.gt-name-wrap ul {font-size: 0; margin: 0 0 28px 0; display: flex; flex-wrap: wrap; width: 100%; justify-content: space-between;}
.gt-name-wrap ul li {display: inline-block; font-size: 16px; line-height: 150%; color: var(--linkhover); margin-bottom: 16px; padding: 0 16px 0 16px;
  width: 18.984375%;}
.gt-name-wrap ul li:before {outline: 2px solid var(--white); width: 4px; height: 4px; top: 11px; left:2px;}



/*-- media css starts here --*/
@media only screen and (max-width: 1280px) and (min-width:1024px){
    .gt-grid {width:30.989583333333332%; margin: 3.4722222222222223% 0 0 3.4722222222222223%;}    
    .gt-name-wrap ul li {width: 21.5625%;}
}



@media only screen and (max-width: 1023px) and (min-width: 768px){
    .group-team-name {padding: 64px 0;}
    .gt-name-wrap ul li {width: 50%;}
    
    .gt-imgs-wrap {padding: 0 0 8px 0;}
    .group-team-imgs {padding: 64px 0;}
    .group-team-imgs h3 {margin-bottom: 16px;}
    .gt-grid, .gt-grid:nth-child(3n+1) {width: 47.674418604651166%; margin: 3.488372093023256% 0 0 4.651162790697675%;}
    .gt-grid:nth-child(2n+1) {margin-left: 0;}
    .gt-thumb {margin: 0 16px 0 0;}
    
    
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .group-team-name {padding: 64px 0;}
    .group-team-name h3 {font-size: 32px; letter-spacing:-0.64px; margin-bottom: 41px;}
	.gt-name-wrap ul li {width: 100%; margin-bottom: 12px;}
    
    .gt-imgs-wrap {padding: 0 0 13px 0;}
    .group-team-imgs {padding: 40px 0;}
    .group-team-imgs h3{font-size: 32px; letter-spacing:-0.64px; margin-bottom: 16px;}

    .gt-grid {width: 100%; margin: 24px 0 0 0;}
    .gt-thumb {margin: 0 16px 0 0;}
    .gt-cnt .h6 {margin: 0 0 -5px 0;}
    
}