@import url("../css/_hero-banner.css");
@import url("../css/_signup-module.css");
@import url("../css/_repeaters-module.css");
@import url("../css/_browse-section.css");
@import url("../css/_gratitude-wall.css");
@import url("../css/_foundation-section.css");
@import url("../css/default-page.css");
@import url("../css/_funds-section.css");

.impact-short-section{clear: both; width: 100%; position: relative;}
.impact-short-main{padding: 80px 0; margin: 0 auto; text-align: center; max-width: 960px;}
.impact-short-main h2{margin-bottom: 24px; font-size: 40px;}
.impact-short-main h2 span{color: var(--teal);}
.impact-short-main p{font-size: 21px; line-height: 33px; color: var(--foreground);}
.impact-short-section hr{margin: 0;}

.repeater-bg{background: none;}
.micro-cta .bg { background: var(--mauve); }

.fluid-cta-txt .bg { background: var(--mauve);}
.pulse1, .pulse2{background-color: var(--mauve);}

.story-btn .button{border-radius: 32px; display: flex; align-items: center; justify-content: center; gap: 10px; color: var(--white);}
.story-btn .button:after{right: 0px; content: "\f061"; font-family: "Font Awesome 6 Pro"; font-weight: 400; transition: all .3s ease-in-out; position: relative; display: flex; align-items: center; flex-wrap: wrap; font-size: 18px; line-height: 100%; top: 2px; bottom: 0;}

.repeaters-main::after { content: ""; height: 1px; width: 100%; display: block; background: rgba(0, 156, 166, 0.25); position: absolute; bottom: -80px; left: 0; }
.masonry-main{position: relative;}
.masonry-main::after { content: ""; height: 1px; width: 100%; display: block; background: rgba(0, 156, 166, 0.25); position: absolute; bottom: -80px; left: 0; }


/* gate popup */
.overlay_main_sec.gate-popup-sec .gate-main.pos-relative { width: 100%; clear: both; z-index: 1; margin: 0 auto; max-width: 840px;}
.overlay_main_sec.gate-popup-sec .overlay-main{max-width: 840px;}
.overlay_main_sec.gate-popup-sec .gate-main .bg{border-radius: 20px; background-color: var(--white);}
.overlay_main_sec.gate-popup-sec .gate-main .gate-lt{flex: 0 0 50%; padding: 40px 40px 36px;}
.overlay_main_sec.gate-popup-sec .gate-main .gate-rt{flex: 0 0 50%;}
.overlay_main_sec.gate-popup-sec .gate-main .gate-lt p{font-size: 1rem; margin-bottom: 12px; line-height: 22px;}
.overlay_main_sec.gate-popup-sec .gate-main .gate-lt .h5{font-weight: 500; color: var(--teal); margin-bottom: 19px;}
.overlay_main_sec.gate-popup-sec .gate-main .gate-lt .form-field{margin-bottom: 18px;}
.overlay_main_sec.gate-popup-sec .gate-main .gate-lt .form-field input{padding: 11px 12px 10px 12px;}
.overlay_main_sec.gate-popup-sec .gate-main .gate-lt .form-field:last-child{margin-bottom: 25px;}
.overlay_main_sec.gate-popup-sec .gate-main .gate-lt .form-field:last-child input{position: relative;}
.overlay_main_sec.gate-popup-sec .gate-main .gate-lt .form-field .frm_primary_label{color: var(--linkhover); font-size: 18px; font-weight: 600; text-transform: capitalize; line-height: 150%; padding: 0 0 3px 0; display: block;}
.overlay_main_sec.gate-popup-sec .gate-main .gate-lt .gate-btns{justify-content: space-between;}
.overlay_main_sec.gate-popup-sec .gate-main .gate-lt .gate-btns .button{background-color: var(--linkhover);}
.overlay_main_sec.gate-popup-sec .popuplink .gate-btn-lt.readmore{padding-left: 24px; padding-right: 0; color: var(--teal);}
.overlay_main_sec.gate-popup-sec .popuplink .gate-btn-lt.readmore:after{left: 0; right: inherit; content: "\f060"; color: var(--teal);}
.overlay_main_sec.gate-popup-sec  .overlay-main .pop_connect_close {right: -15px; top: 0;}
.overlay_main_sec.gate-popup-sec .gate-img img{border-radius: 0 20px 20px 0;  max-height: 541px; overflow: hidden;}
.overlay_main_sec.gate-popup-sec .gate-lt .selectBox-dropdown{font-size: 16px; line-height: 24px; background-color: var(--elevated); border-radius: 8px!important; padding: 12px 12px 11px 12px; font-family: "Poppins", sans-serif;; border: 0 none;}
.overlay_main_sec.gate-popup-sec .gate-lt .selectBox-dropdown .selectBox-arrow{font-size: 20px; color: var(--teal);}
.overlay_main_sec.gate-popup-sec .gate-lt .selectBox-dropdown .selectBox-label{color: var(--foreground); opacity: 0.4;}
.overlay_main_sec.gate-popup-sec .overlay-wrap {text-align: left; padding: 0; border-radius: 20px;}
.overlay_main_sec.gate-popup-sec .overlay-wrap input { text-align: left;}
.overlay_main_sec.gate-popup-sec .gate-wrap .frm_submit{justify-content: flex-end;}
.overlay_main_sec.gate-popup-sec .gate-lt .popuplink{display: block; margin-top: -35px; width: calc(100% - 100px);}



.overlay_main_sec.impact-popup .frm_forms .frm_form_fields input:focus, .frm_forms .frm_form_fields textarea:focus{background-color: var(--elevated)!important;}
.overlay_main_sec.impact-popup .frm_forms .frm_form_fields textarea {height: 126px!important;}

.overlay_main_sec.impact-popup .overlay-main{max-width: 640px;}
.overlay_main_sec.impact-popup .impact-popup-main{width: 480px;}
.overlay_main_sec.impact-popup .overlay-wrap{justify-content: inherit; text-align: inherit!important;}
.overlay_main_sec.impact-popup .frm_upload_text{display: none;}
.overlay_main_sec.impact-popup .frm_small_text::before{content: "Select an image from your device";}
.overlay_main_sec.impact-popup .frm_small_text{flex: 1; display: block; text-align: left; font-size: 1rem; line-height: 1.75rem; color: rgba(52,53,54,.5);}
.overlay_main_sec.impact-popup .frm_small_text p{display: none!important;}
.overlay_main_sec.impact-popup .dz-message.needsclick svg{display: none;}
.overlay_main_sec.impact-popup .frm_dropzone .dz-message {border: none; background-color: var(--elevated); display: flex!important; justify-content: flex-end!important; padding: 12px 12px 11px 11px;}
.overlay_main_sec.impact-popup .frm_dropzone.frm_single_upload { max-width: inherit; }
.overlay_main_sec.impact-popup .dz-message.needsclick::after { content: "\f093"; flex: 0 0 20px; font-weight: 400; font-family: "Font Awesome 6 Pro"; color: #343536; font-size: 1.25rem;}
.overlay_main_sec.impact-popup .overlay-main .pop_connect_close {top: 0; right: 0;}

.overlay_main_sec.impact-popup .frm_submit button:hover { background: var(--linkhover)!important; border-color: inherit!important; color: var(--white)!important; }
.overlay_main_sec.impact-popup .overlay-wrap input { text-align: inherit; }
.overlay_main_sec.impact-popup .frm_forms .frm_form_fields .selectBox-dropdown { border: none; padding: 12px 12px 11px 12px; color: rgba(52,53,54,.5); background-color: var(--elevated); }
.overlay_main_sec.impact-popup .selectBox-dropdown {border-radius: 6px!important;}
.overlay_main_sec.impact-popup .frm_forms .frm_submit button.btn-dark {border-radius: 24px;}


@media only screen and (min-width: 1024px){
  .ui-tab-mobile{ align-items: center;}
  ul.browse-all  {flex: 0 0 76.5%; margin-bottom: 0; padding-right: 24px;}
  ul.browse-all li {flex: 0 0 calc(33.33% - 16px);}
  
  .story-btn{flex: 0 0 calc(100% - 77%);}
  .story-btn .button{ padding: 19px 16px 19px 16px; border-radius: 32px;}
  .gratitude-wall { padding: 80px 0 80px 0; }
  .browse-tab-section{padding: 80px 0 80px;}

  .browse-list{padding: 15px 0 0;}

  .repeaters-module {padding: 80px 0 86px;}
  .gratitude-wall { padding: 80px 0 80px 0; }
  .foundation-main{padding: 80px 0 30px;}
}



@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .browse-grid {width: calc(50% - 11px);}
  .story-btn{margin-bottom: 20px;}
  .browse-tab-section{padding: 80px 0 40px;}
  .ui-tab-mobile{align-items: center; margin-bottom: 40px; justify-content: space-between;}
  ul.browse-all {margin-top: 0; margin-bottom: 0;}  
  .browse-tab-heading { display: flex;}
  .browse-tab-heading h2 { width: 60%; margin-right: 20px; margin-bottom: 0; }
  .browse-tab-heading .browse-search { width: 32%;}
  .story-btn{margin-bottom: 0;}
  
  .gate-img {height: 100%;} 
  .gate-img img {max-height: inherit;}
  .overlay_main_sec.gate-popup-sec .overlay-main .pop_connect_close { right: 2px;}

  .overlay_main_sec.impact-popup .frm_forms .frm_form_fields textarea { height: 126px!important; }
  .frm_forms .frm_form_fields textarea { min-height: inherit!important; }

  }
@media only screen and (max-width: 767px) and (min-width: 200px) {
  .impact-short-main{padding: 40px 0 47px;}
  .impact-short-main h2{font-size: 32px;}
  .impact-short-main p{font-size: 22px;}
  .impact-short-section hr{margin: 0;}

  .story-btn{margin-bottom: 40px;}
  .masonry-main::after {bottom: -95px;}
  .browse-tab-section{padding: 47px 0 40px;}
  .repeaters-main::after {bottom: -48px;}
  ul.browse-all{margin-bottom: 0;}
  .ui-tab-mobile{margin-bottom: 36px;}

  .overlay_main_sec.gate-popup-sec .gate-main .gate-wrap{display: block;}
  .overlay_main_sec.gate-popup-sec .overlay-main .pop_connect_close { right: 10px; top: 10px; z-index: 2; }
  .overlay_main_sec.gate-popup-sec .gate-main .gate-lt { padding: 43px 32px 92px; }
  .overlay_main_sec.gate-popup-sec .gate-main .gate-rt{display: none;}
  .overlay_main_sec.gate-popup-sec .gate-main .gate-lt .h5 {margin-bottom: 24px;}
  .overlay_main_sec.gate-popup-sec .gate-main .gate-lt p{margin-bottom: 21px; line-height: 24px;}
  .overlay_main_sec.gate-popup-sec .gate-main .bg { border-radius: 20px 20px 0 0; }
  .overlay_main_sec.gate-popup-sec .gate-main .gate-lt .form-field:last-child { margin-bottom: 29px; }
  .overlay_main_sec.gate-popup-sec .gate-main .gate-lt .form-field { margin-bottom: 20px; }

  .overlay_main_sec.impact-popup .impact-popup-main { width: inherit;}
  .overlay_main_sec.impact-popup .overlay-main .pop_connect_close { top: 12px; right: 12px; z-index: 1; }
}

 